/*html, body, nav, main, p {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
*/
html {
  margin: 15px;
}

body {
  position: relative;
  border: 5px solid black;
  max-width: 750px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  /*border-right: 1px dashed gray;*/
}

main {
 margin-left: 150px;
 padding-left: 10px;
 border-left: 1px dashed gray;
}
