body{
     background-color: #00539f;
}

div{
    width: 60%;
    margin: 0 auto;
    background-color: #00C957;
    border: 5px solid black;
}

img{
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 10px ridge gold;
}

.prvyheading{
             color: #00539f;
}

.druhyheading{
              color: red;
}
