div{
    width: 400px;
    height: 200px;
    border: 10px dashed red;
    margin: 20px auto;
}
 .sep{
      box-sizing:border-box;
      background-image: url('../australian.jpg');
      background-size: cover;
      background-repeat: no-repeat;
}
